ion-title{
	    padding: 0 50px;
	    font-size: 16px;
    	font-weight: 500;
}
.video-wrapper{
	display:flex;
	flex:1;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #000;
	
}