.poll-question-wrapper{
	width: 98%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 5px rgba(219,215,219,1);
    border-radius: 5px;
    min-height: 220px;
}