<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="menu-btn"></ion-menu-button>
        </ion-buttons>
        <ion-title>Activities</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h3>Latest Activities</h3>
     <h3 text-center *ngIf="list.length<1" style="color: gray;font-weight: bold">
        No Activities found.
    </h3>
    <ion-list lines="none" *ngIf="list.length>0">
        <app-core-activity *ngFor="let item of list; let i = index" [item]="item">         
        </app-core-activity>
     
    </ion-list>
   
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>