
.discussion-textarea{
  background: #F6F6F6 !important;
  border-radius: 5px !important;
  --padding-start: 10px;
  min-height: 65px;
}
.post-btn{
	color: white;
    width: 100px;
    --border-radius: 5px;
    --height: 44px;
    margin: auto;
    margin-right: 1px;
    margin-top: 10px
}
